<div class="header" fxLayout="row">
  <div class="container">
    <div class="logo" fxFlex="20"> <a href="#" fxFlexAlign="center"><img src="../../assets/images/Zrilo-Logo-200W.png"></a> </div>
    <div class="right-button" fxFlex="80" fxLayoutAlign="end stretch"> <a href="#" fxFlexAlign="center">visit app website</a> </div>
  </div>
</div>
<div class="banner-section" fxLayout="row">
  <div class="container">
    <div class="banner-content" fxFlex="60" fxFlexAlign="center">
      <h2>Timely & Xero</h2>
      <h3>Is Right For You ?</h3>
      <p>Book a Timely & Xero demo: see appointment and finance software that will transform your business.
</p>
      <div class="button-section"> <a href="#" class="border-button">Visit App Website</a> <a href="#">Connect With A Setup Partner</a> </div>
    </div>
    <div class="banner-image" fxFlex="40" fxFlexAlign="center" > <img src="../../assets/images/banner-img.png"> </div>
  </div>
</div>
<div class="footer" fxLayout="row">
  <h1></h1>
</div>
