@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&subset=latin-ext');
//Variables
//Colors
$btn-background:#c56f00;
$header-bg:#324149;

//margin and padding 
$margin:0;
$padding:0;
$padding-30:8px 30px;

//Basic Colors
$white-color : 			#FFFFFF;
$black-color: 			#000000;

//For RTL, Use It For Floatation
$left: left;
$right: right;
$text-decoration:none;

//Font Styling & Sizing
$font-stack :'Roboto', sans-serif;
$font-size-base:        14px; //Important To Be 14px For FontAwesome Rendering
$font-size-large:       ceil(($font-size-base * 1.25)); // ~18px
$font-size-xlarge:      ceil(($font-size-base * 1.79)); // ~25px
$font-size-small: 		ceil(($font-size-base * 0.85)); // ~12px
$font-size-btn: 		floor(($font-size-base * 1.2)); // ~16px

$weight-light: 			300;
$weight-normal: 		400;
$weight-medium:         500; 
$weight-semibold: 		600;
$weight-bold: 			700;

$font-size-h1:          floor(($font-size-base * 2.6)); // ~36px
$font-size-h2:          floor(($font-size-base * 2.15)); // ~30px
$font-size-h3:          ceil(($font-size-base * 1.7)); // ~24px
$font-size-h4:          ceil(($font-size-base * 1.25)); // ~18px
$font-size-h5:          $font-size-base;
$font-size-h6:          ceil(($font-size-base * 0.85)); // ~12px

//mixins
@mixin transition($transitionvalue : all .3s ease-in-out){
	-webkit-transition:$transitionvalue;
	-o-transition:$transitionvalue;
	-moz-transition:$transitionvalue;
	transition:$transitionvalue;
}
.backgroundCover{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.btn{
		background: $btn-background;
		color: $white-color;
		font-family: $font-stack;
		font-weight: $weight-medium;
	text-decoration:$text-decoration;
	font-size: $font-size-btn;
	padding: $padding-30;
	}
*
{
	margin: 0;
	padding: 0;
}
body
{
	font-family: $font-stack;
	font-weight: $weight-normal;
	margin: $margin;
	padding: $padding;
}
.container
{
	width: 1170px;
	margin: 0 auto;
}
.header, .footer
{
	background: $header-bg;
	color:$white-color;
}
.header
{
	padding:15px 0;
}
.right-button
{
	a{
		@extend .btn;
		border-radius: 5px;
	}
}
.banner-section
{
	background: url("assets/images/banner-bg.jpg");
	background-size: cover;
	background-position: 0 0;
	background-repeat: no-repeat;
	color: $white-color;
	h2 {
	font-size: 59px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 7px;
}
	h3 {
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 400;
		position:relative;
		padding-bottom: 25px;
		margin-bottom: 25px;
		&::after{
			position: absolute;
			left: 0;
			content: "";
			background:#00c1de;
			height: 3px;
			width: 56px;
			bottom: 0;
		}
}
	p {
	font-weight: 300;
	font-size: 22px;
	max-width: 440px;
}
}